[user]
  name = Nate Wiger
	email = nwiger@gmail.com
[alias]
  ci = commit
  co = checkout
  st = status
  up = pull
  pu = push -u origin
	ca = "!f() { git add -A && git commit -m \"$@\"; }; f"
	cap = "!f() { git add -A && git commit -m \"$@\" && git push; }; f"
	cmp = "!f() { git commit -m \"$@\" && git push; }; f"
  rv = checkout --
  br = branch -a
  hard = reset --hard origin/master
  hist = log --since=1.day --relative-date --stat
  mine = log --since=1.day --relative-date --stat --committer=nateware
	undo = reset HEAD --
	last = log -1 HEAD
  #pu = !"git fetch origin -v; git fetch upstream -v; git merge upstream/master"
[color]
  diff = auto
  status = auto
  branch = auto
[push]
	default = current
[core]
	excludesfile = /Users/nateware/.gitignore_global
[credential]
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
